<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/for_main.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css">

    {{{title}}}
</head>

<body>

    {{{body}}}

    <form id="upload-widget" method="post" action="/upload-files" class="dropzone">
        <div class="fallback">
            <input name="avatar" type="file" id="avatar" />
        </div>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js"></script>

</body>

</html>